body{
    background-color: #2f2f2f;
}
h1,h2{
    color: white;
}
#game{
    background-color: black;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 91%;
    height: 86vh;
    top: 10px;
}
/* .startButtons{

} */
.groupButtons{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 237px;
}
#wall{
    display: table-footer-group;
    object-fit: cover;
    object-position: 0 0;
    position: absolute;
    width: 100%;
    height: inherit;
}
#border{
    display: none;
    color:white;
    position: absolute;
    z-index: 2
}